html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#np-parks-details img.np-details {
    max-width: 500px;
    border: solid 1px #000;
}

#np-parks-details dt {
    text-align: right;
}

#np-park-list ul {
    list-style: none;
}